$font-size-small: 0.75rem;
$padding-left: 30px;
$main-min-width: 600px;
$main-min-height: 750px;
$nav-width: 15%;
$nav-min-width: 140px;
$nav-padding-top: 55px;
$nav-padding-right: 30px;
$main-background-color: #ffcfcf;
$color-white: #ffffff;
$container-width: 85%;
